//--------------------------------------------------------------
// Header
//--------------------------------------------------------------
.site-header {
	padding: 0;
}
//Site Branding
.site-branding {
	display: inline-block;
	transform:translateX(-100%) scale(0.95);
}

// Site Title
.site-title {
	font-size: rem(48);
} // .site-title

// Site Description
.site-description {
	font-size: rem(24);
	margin: 0 0 rem(24) 0;
} // .site-description
